/* LETTERTYPE */
@font-face {
  font-family: "japans";
  src: url("../type/The-Last-Shuriken.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* ALGEMEEN */
body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
  margin: 0;
  padding: 0;
}

/* AFBEELDINGEN */
.hero {
  height: 100vh;
  overflow-y: auto;

  scroll-snap-type: y proximity;
  scroll-behavior: normal;

  scrollbar-width: none;
}

.hero::-webkit-scrollbar {
  display: none;
}

.slide {
  position: sticky;
  top: 0;

  width: 100%;
  height: 100vh;

  margin: 0;
  overflow: hidden;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.slide img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  display: block;
}

.slide-2 img {
  width: 100%;
  height: auto;

  object-fit: contain;
  display: block;
}

/* MENUBALK */
.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  box-sizing: border-box;

  z-index: 1000;
  background: white;

  font-family: "japans", sans-serif;
}

/* LOGO */
.logo {
  color: #222;
  text-decoration: none;
  font-size: 30px;
}

/* MENU RECHTS */
.menu {
  display: flex;
  gap: 35px;
}

.menu a {
  color: #222;
  text-decoration: none;
  font-size: 16px;
  font-family: "japans", sans-serif;
}

.menu a:hover {
  opacity: 0.5;
}
